
@{
    ViewData["Title"] = "Contact Us";
}
<h2>Contact Us</h2>
<p>This is the contact page</p>

<div>
    <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </span>
    <email address="alexandru.petrovics@gmail.com" content="Send Email"></email>
</div>
