@model HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<div>
    
</div>
<br />
<br />
<div class="weekly-getting">
    <h4>HomePage/add some images</h4>
    <p>and text</p>
</div>
<div class="row">
   
</div>